body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding-top: 90px;
  margin: 0;
}

body {
  padding-top: 90px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.breadcrumb-area {
  background-image: url("https://images.pexels.com/photos/4489749/pexels-photo-4489749.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.breadcrumb h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.breadcrumb p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.breadcrumb img {
  max-height: 300px;
}
.breadcrumb h1,
.breadcrumb p {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(187, z7, 7, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.navbar a:hover {
  background-color: whitesmoke;
}

.logo {
  width: 100px;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 15px;
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.phone-number {
  font-weight: bold;
  font-size: 16px;

  
}

.top-bar {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: whitesmoke;
}

.logo {
  width: 100px;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
}

.section-about {
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.section-about-content {
  flex: 1;
  text-align: left;
}

.section-about h2 {
  color: red;
  font-size: 36px;
  margin-bottom: 20px;
}

.section-about p {
  color: black;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.section-about img {
  max-width: 320px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  animation: fadeInUp 1s ease-out;
  margin-left: 20px;
}

.car-repair-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.car-repair-examples {
  display: flex;
  justify-content: space-between;
}

.car-repair-example {
  width: 30%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.car-repair-example:hover {
  transform: scale(1.1);
}

.car-repair-example img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.car-repair-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(10, 1, 1, 0.8);
  padding: 20px;
  box-sizing: border-box;
}

.car-repair-example:hover .car-repair-details {
  opacity: 1;
}

.car-repair-details h3,
.car-repair-details p {
  color: #fff;
  margin: 0;
  text-align: center;
}

.car-repair-details a {
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.working-hours,
.social-icons {
  display: flex;
  align-items: center;
  background-color: black;
  margin-top: 10px;
}

.working-hours p {
  margin: 0;
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}
.section-title h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}
.section-title h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.section-title .description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}
.service-items-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.service-items-wrap__items {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.service-items-wrap__items:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.items__content {
  padding: 20px;
}
.items-icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.heading-04 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}
.heading-04:hover {
  color: red;
}
.service-items-wrap__items p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.main-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.main-btn:hover {
  background-color: #555;
}
.button-details {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  background-color: #333;
  border-radius: 20px;
  z-index: -1;
}

.footer-area {
  background-color: #292929;
  padding: 60px 0;
  color: #fff;
}

.footer-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}

.footer-widget {
  margin-bottom: 40px;
}

.widget-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-area ul,
.social-icons ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-area ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.footer-map {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.footer-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.footer-top .icon {
  margin-right: 10px;
}

.footer-top .social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-top .social-icons a:hover {
  color: red;
}

.footer-top .contact-area strong {
  color: white;
}

.copyright-area {
  background-color: #1e1e1e;
  padding: 15px 0;
}

.footer-area p {
  margin-bottom: 0;
}

.footer-area a {
  color: red;
}

.footer-area a:hover {
  color: #fff;
}
.footer-area .map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-area .map-overlay p {
  margin: 0;
}

.footer-area .footer-map:hover .map-overlay {
  opacity: 1;
}

.footer-area .map-overlay:hover {
  cursor: pointer;
}
.footer-top .social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-top .social-icons a:hover {
  color: red;
  transform: scale(1.2);
}

.footer-widget.widget:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.copyright-area a:hover {
  animation: pulsate 1s infinite alternate;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 4px solid red;
  border-radius: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.phone-number {
  font-weight: bold;
  font-size: 16px;
}

.process-section {
  padding: 80px 0;
  text-align: center;
  background-color: black;
}

.section-title h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
}
.process-items {
  display: flex;
  justify-content: space-between;
}

.process-item {
  flex: 1;
  max-width: 250px;
}

.process-item:hover {
  transform: translateY(-10px);
}

.process-item img {
  width: 120px;
  height: 120px;
  border-radius: 9999px;
  border: 5px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.process-item img:hover {
  transform: scale(1.1);
}

.process-item h3 {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

.step-number {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

.description {
  font-size: 16px;
  color: whitesmoke;
  margin-top: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Stiluri specific pentru telefonul mobil */
@media only screen and (max-width: 400px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }
  .nav-links {
    flex: 1;
    order: 3; /* Rearanjează la sfârșit */
    margin-top: 10px; /* Spațiere între logo și linkuri */
    text-align: left;
  }
  .nav-links a {
    font-size: 14px;
    padding: 3px 8px;
    margin: 5px;
    flex-direction: column; /* Așază linkurile pe coloană */
    align-items: center;
  }
    .nav-links a.servicii {
        margin-right: 10px; }

  .phone-number {
    order: 2; /* Rearanjează înainte de linkuri */
  }
  .nav-links .spacer {
        display: none; /* Ascundem spațiul suplimentar pe dispozitivele mobile */
    }
   .nav-links .dropbtn::after {
        content: " ";
        margin-left: 20px;
    }



  .logo {
    flex: 1;
    order: 1; /* Rearanjează la început */
    margin-bottom: 10px; /* Spațiere între logo și linkuri */
    text-align: center;
  }

  .breadcrumb-area {
    background-image: none; /* Eliminam imaginea de fundal pe mobil */
  }

  .section-about {
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .section-about-content {
    text-align: center;
  }
  .section-about img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  header {
    padding: 20px;
    text-align: center;
  }
  .car-repair-example {
    margin-bottom: 20px;
  }
  .car-repair-details {
    text-align: center;
  }
  .car-repair-example img {
    border-radius: 10px;
    width: 100%;
  }
  .our-service {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .section-title h2.title {
    font-size: 24px;
  }
  .section-title h3.heading-02 {
    font-size: 24px;
  }
  .service-items-wrap__items {
    margin-bottom: 30px;
  }
  .main-btn-wrap {
    margin-top: 20px;
  }
  .process-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .process-item {
    flex-basis: 45%;
  }
  .process-item .step-number {
    font-size: 24px;
  }
  .process-item h3 {
    font-size: 18px;
  }
  .process-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .footer-top {
    flex-direction: column;
    text-align: center;
  }
  .footer-widget {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
  }
  .contact-area ul li {
    margin-bottom: 10px;
  }
  .google-map-section {
    margin-top: 20px;
  }
  .footer-map {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-overlay p {
    color: white;
    font-size: 16px;
  }
  .copyright-area {
    background-color: black;
    padding: 20px;
    border-top: 1px solid #1e1e1e;
  }
  .copyright-area p {
    color: white;
    font-size: 14px;
  }
  
  .service-items-wrap {
    flex-direction: column;
  }

  .service-items-wrap__items {
    width: auto;
    margin-bottom: 20px; /* Spațiu între servicii */
  }
}

body {
  padding-top: 90px;
  margin: 0;
}
