html {
  scroll-behavior: smooth;
}
.hamburger {
  display: none;
}

body {
  padding-top: 90px;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.breadcrumb-area {
  background-image: url("https://images.pexels.com/photos/4489749/pexels-photo-4489749.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.breadcrumb h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.breadcrumb p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.breadcrumb img {
  max-height: 300px;
}
.breadcrumb h1,
.breadcrumb p {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(187, z7, 7, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.navbar a:hover {
  background-color: whitesmoke;
}

.logo {
  width: 100px;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 15px;
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.phone-number {
  font-weight: bold;
  font-size: 16px;
}

.top-bar {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: whitesmoke;
}

.logo {
  width: 100px;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px solid black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 4px solid red;
  border-radius: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.phone-number {
  font-weight: bold;
  font-size: 16px;
}
.top-bar {
  z-index: 10000;
}

.working-hours,
.social-icons {
  display: flex;
  align-items: center;
  background-color: black;
  margin-top: 10px;
}

.working-hours p {
  margin: 0;
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.flag-icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.top-bar {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}
.section-title h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}
.section-title h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.section-title .description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}
.service-items-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.service-items-wrap__items {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.service-items-wrap__items:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.items__content {
  padding: 20px;
}

.items-icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.heading-04 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}
.heading-04:hover {
  color: red;
}
.service-items-wrap__items p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.main-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.main-btn:hover {
  background-color: #555;
}
.button-details {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 40px;
  background-color: #333;
  border-radius: 20px;
  z-index: -1;
}

.container {
  width: 80%;
  margin: auto;
}

.process-section {
  padding: 80px 0;
  text-align: center;
  background-color: black;
}

.section-title h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
}
.process-items {
  display: flex;
  justify-content: space-between;
}

.process-item {
  flex: 1;
  max-width: 250px;
}

.process-item:hover {
  transform: translateY(-10px);
}

.process-item img {
  width: 120px;
  height: 120px;
  border-radius: 9999px;
  border: 5px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.process-item img:hover {
  transform: scale(1.1);
}

.process-item h3 {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

.step-number {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

.description {
  font-size: 16px;
  color: whitesmoke;
  margin-top: 10px;
}

.footer-area {
  background-color: #292929;
  padding: 60px 0;
  color: #fff;
}

.footer-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}

.footer-widget {
  margin-bottom: 40px;
}

.widget-title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-area ul,
.social-icons ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-area ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.social-icons ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.footer-map {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.footer-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.footer-top .icon {
  margin-right: 10px;
}

.footer-top .social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-top .social-icons a:hover {
  color: red;
}

.footer-top .contact-area strong {
  color: white;
}

.copyright-area {
  background-color: #1e1e1e;
  padding: 15px 0;
}

.footer-area p {
  margin-bottom: 0;
}

.footer-area a {
  color: red;
}

.footer-area a:hover {
  color: #fff;
}
.footer-area .map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-area .map-overlay p {
  margin: 0;
}

.footer-area .footer-map:hover .map-overlay {
  opacity: 1;
}

.footer-area .map-overlay:hover {
  cursor: pointer;
}
.footer-top .social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-top .social-icons a:hover {
  color: red;
  transform: scale(1.2);
}

.footer-widget.widget:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.copyright-area a:hover {
  animation: pulsate 1s infinite alternate;
}

@media screen {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }
  .nav-links {
    margin-top: 20px;
    text-align: center;
  }
  .nav-links a {
    display: block;
    margin: 10px 0;
  }
  .phone-number {
    margin-top: 20px;
  }
  .breadcrumb-area {
    background-size: cover;
    background-position: center;
  }
  .service-items-wrap__items {
    margin-bottom: 20px;
  }
  .footer-top {
    padding: 30px 15px;
  }
  .footer-widget {
    margin-bottom: 20px;
  }
  .map-overlay {
    display: none;
  }
  .footer-map {
    height: 300px;
    overflow: hidden;
  }
}
